.animateScale {
  transition: transform 200ms ease-in-out;
}

.animateHeight {
  transition: height 200ms ease-in-out;
}

.navbarDesktop {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #222;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 10;
  border-bottom: 1px solid #fff2;
}